@font-face {
    font-family: 'Terminator'; /*a name to be used later*/
    src: url('./terminator real nfi.ttf'); /*URL to font*/
}
h1
{
		font-family: 'Terminator';
		text-align: center;
		background: -webkit-linear-gradient(#aaa, #333);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
}
body 
{
	font-family: 'Terminator';
	background: #eee;
}
#gif
{
	background-image: url(http://i.giflike.com/lVSWMBm_sg.gif);
	text-align: center;
}
img
{
	height: 600px;
	width: auto;
}
button
{
	color: black;
}